<header class="header">
  <span class="header__marker"></span>
  <nav class="header__navigation">
    <a class="burger-menu" (click)="handleBurgerClick()"></a>
    <ul [class.header__navigation-list__active]="isMenuOpen" class="header__navigation-list">
      <li class="active-item">Главная</li>
      <li>О компании</li>
      <li>Услуги</li>
      <li class="header__navigation-logo"></li>
      <li>Цены</li>
      <li>Портфолио</li>
      <li>Контакты</li>
    </ul>
  </nav>
  <span class="header__phone"></span>
</header>
