.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 15;
  display: flex;
  border-bottom: 1px solid #ebebeb;
  justify-content: space-between;
  align-items: center;
}

.header__marker,
.header__phone {
  cursor: pointer;
  display: inline-block;
  width: 22px;
  height: 18px;
  margin: 0 34px;
  background-repeat: no-repeat;
}

.header__marker {
  background-image: url(../../assets/images/marker.svg);
}

.header__phone {
  background-image: url(../../assets/images/phone.svg);
}

.header__navigation-logo {
  background-image: url(../../assets/images/logo.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin: 0 210px;
}

.header__navigation-list {
  display: flex;
  flex-wrap: wrap;
  height: 53px;
  gap: 50px;
  color: rgba(34, 34, 34, 0.7);
  margin: 0;
  margin-top: 32px;
}

.header__navigation-list li {
  list-style: none;
  cursor: pointer;
}

.header__navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.active-item {
  color: #222222;
  border-bottom: 1px solid #222222;
}

.burger-menu {
  display: none;
  background-image: url(../../assets/images/burger.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 25%;
}

@media screen and (max-width: 1300px) {
  .header__navigation-logo {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .header__navigation-list {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .header__navigation {
    max-width: 200px;
    height: 86px;
  }

  .header__navigation-logo {
    display: none;
  }

  .active-item {
    color: rgb(255, 255, 255);
    border: 0;
  }
}

.header__navigation-list__active {
  padding-top: 25px;
  width: 300px;
  height: 300px;
  background-color: rgba(34, 34, 34, 0.5);
  border-radius: 10px;
  display: flex;
  gap: 22px;
  color: rgb(255, 255, 255);
  flex-direction: column;
  margin-top: 65px;
}
