<div class="container">
  <h3 class="contacts__title"><span class="highlighted-text">Связаться</span> с нами</h3>
  <section class="contacts__wrapper">
    <div class="contacts__adress">
      <p>
        <span>Офис</span>
        <span class="description">Москва, ул. Уличная, д. 1, оф. 1</span>
      </p>
      <p>
        <span>E-mail</span>
        <span class="description">company@company.ru</span>
      </p>
      <p>
        <span>Социальные сети</span>
        <span>
          <span class="socials"></span>
          <span class="socials"></span>
          <span class="socials"></span>
        </span>
      </p>
    </div>
    <div class="contacts__info">
      <p>
        <span>Режим работы</span>
        <span class="description">Пн-Вт: 10:00 — 19:00; Сб-Вс: 10:00 — 15:00</span>
      </p>
      <p>
        <span>Телефон</span>
        <span class="description">8 (800) 900-00-00</span>
      </p>
    </div>
    <div class="contacts">
      <p>Остались вопросы?</p>
      <form class="contacts__form" action="">
          <label>Ваше имя</label>
          <input class="form__name" type="text" placeholder="Иван Иванов">
          <label>Телефон / E-mail</label>
          <input class="form__mail" type="email" placeholder="example@example.com">
          <label>Ваше сообщение</label>
          <textarea class="form__question" name="" id="" cols="10" rows="30" placeholder="Текст обращения"></textarea>
          <input id="file-input" type="file" name="file" multiple>
          <label class="file-input" for="file-input"></label>
          <p>Нажимая на кнопку «Получить консультацию», вы соглашаетесь <br>
            на <span>обработку персональных данных</span></p>
            <a class="form__link" href="">Получить консультацию</a>
      </form>
    </div>
  </section>
</div>
