<div class="gallery__wrapper">
<h3 class="gallery__title"><span class="highlighted-text">Примеры</span> выполненных <span class="highlighted-text">работ</span></h3>
<div class="gallery">
  <img class="img1" src="../../assets/images/image1.png" alt="">
  <img class="img2" src="../../assets/images/image2.png" alt="">
  <img class="img3" src="../../assets/images/image3.png" alt="">
  <img class="img4" src="../../assets/images/image4.png" alt="">
  <img class="img5" src="../../assets/images/image5.png" alt="">
  <img class="img6" src="../../assets/images/image6.png" alt="">
  <img class="img7" src="../../assets/images/image7.png" alt="">
  <img class="img8" src="../../assets/images/image8.png" alt="">
</div>
</div>
